* {
    box-sizing: border-box;
}

.container-list>.card-tables {
    width: 25vw;
    height: 25vw;
    max-width: 33%;
    position: relative;
}

.card-reser img {
    margin: 0 auto !important;
    position: relative;
    height: 40%;
    width: 90%;
}

.card_btn {
    font-size: 1.2vw;
    /* margin: 0 auto; */
    width: 20vw;
}

.reser_title {
    color: white;
    margin: auto;
}

.reser_descrip { 
    color: black;
    font-size: 1.2vw;
}

.card {
    overflow: hidden;
    /* border: 2.5px solid black; */
}

.free {
    background:
    radial-gradient(circle at 0% 50%, rgba(96, 16, 48, 0) 9px, #613 10px, rgba(96, 16, 48, 0) 11px) 0px 10px,
    radial-gradient(at 100% 100%, rgba(96, 16, 48, 0) 9px, #613 10px, rgba(96, 16, 48, 0) 11px);
    background-size: 20px 20px;
    background-color: #1cff45;
}

.non-free {
    background:
    radial-gradient(circle at 0% 50%, rgba(96, 16, 48, 0) 9px, #613 10px, rgba(96, 16, 48, 0) 11px) 0px 10px,
    radial-gradient(at 100% 100%, rgba(96, 16, 48, 0) 9px, #613 10px, rgba(96, 16, 48, 0) 11px);
    background-size: 20px 20px;
    background-color: #ff5855;
}

.square {
    width: 300%;
    height: 14%;
    position: absolute;
    bottom: 0;
    transform: rotate(-45deg);
    left: -58%;
}

.square-border {    
    border: 3px solid black;
}